<h1>Hello index page</h1>
<% @invited = Invite.where(attendence: true)%>

<% @invited.each do |inv|%>
<%= inv.user_name %>
<% end %>

<div class="d-flex">
    <% @events.each do |event| %>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"><%= event.date %></h5>
            <p class="card-text"><%= event.discription %></p>
            <%= link_to "Show", event, class: "btn btn-primary" %>
            <% @new = Invite.where(event_id: event.id).where(user_name: current_user.name) %>

            <% if @new.any? %>
            <% @new.each do |num| %>
            <% if num.attendence %>
            <% num.attendence = false %>
            <%= link_to "Cancel", "#", :onclick => "#{num.attendence = false}#{num.save}", class: "btn btn-danger" %>
            <% else%>
            <% num.attendence = true %>
            <%= link_to "accept", "#", :onclick => "#{num.attendence = true}#{num.save}", class: "btn btn-success" %>
            <% end%>
            <%= num.attendence %>
            <% end %>

            <% end %>

        </div>
    </div>
    <% end %>
</div>