<div class="container col-6 offset-3">
    <%= form_with model: @event do |form|%>

    <div class="form_group">
        <%= form.label :date %>
        <%= form.date_field :date%>
    </div>

    <div class="form_group">
        <%= form.label :discription %>
        <%= form.text_field :discription%>
    </div>

    <%= form.submit 'create event'%>
    <%= link_to "Back", root_path %>
    <% end %>
</div>